* {
    margin: 0; padding: 0;
}
body {
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  margin: 5px auto;
  max-width: 960px;
}
h1, h2 {
  border-bottom: 1px solid #666;
  border-top: 2px solid #333;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 16px 0;
  padding: 4px 0 3px;
  text-align: center;
  text-shadow: 3px 3px 10px #AAAAAA;
  text-transform: uppercase;
}
h1 {
  font-size: 150%;
  padding: 8px 0 6px;
}
ol li {
  list-style: decimal;
}

ul li {
  list-style: none;
}

a, a:visited {
  color: black;
}

.photo {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width:960px) {
  .photo {
    display: block;
    float: none;
    margin: 0 auto 30px;
  }
}

#menu {
  text-align: center;
}
#menu a {
  color: #000;
  padding: 10px;
  text-decoration: none;
}
#menu a:hover {
  background: #e7e7e7;
}
h1.fn {
  margin-top: 0;
  border: 0;
}
h2 {
  overflow: hidden;
}

ul.rel-me img {
    height: 16px;
    width: 16px;
    border: 0;
}
ul.rel-me {
    column-width: 160px;
}
ul.rel-me li {
    display: inline-block;
    list-style: none;
    width: 180px;
    margin: 5px;
    padding: 0;
}
ul.rel-me a {
    padding: 10px;
    text-decoration: none;
}
ul.rel-me a img {
    margin-right: 5px;
}
ul.rel-me a:hover {
    background: #e7e7e7;
}
